.input-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  background-color:#E1E1E1;
  width: 60%;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  padding: 14px 30px;
  border: none;
  border-radius: 4px;
}

.label-input {
  align-self: flex-start;
  margin-left: 70px;
  padding-bottom: 7px;
}

