.addProduct {
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.4);
}

.addProduct form {
  position: fixed;
  color: black;
  width: 800px;
  max-width: 95%;
  padding: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
}

.addProduct .button {
  width: 200px;
  margin: 20px;
}

.addProduct .title {
  font-size: 2rem;
  color: #4e989a;
  font-family: "Anton", sans-serif;
}

.addProduct .input-form {
  width: 40vw;
  align-items: center;
}

.addProduct .input {
  border: 1px solid #ccc;
  background-color: #e1e1e1;
  width: 100%;
  padding: 14px 30px;
  border: none;
  border-radius: 4px;
}

.addProduct .label-input {
  align-self: center;
  margin-left: 110px;
  padding-bottom: 7px;
}

.addProduct .input-form [type="number"] {
  width: 40%;
  margin-left: 10px;
  padding: 14px 30px;
  border: none;
  border-radius: 4px;
}

.addProduct .label-input {
  align-self: flex-start;
  margin-left: 10px;
  padding-bottom: 7px;
}

.addProduct form .pairs-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.addProduct .select {
  display: flex;
  width: 10vw;
  height: 50px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
}

.addProduct .description {
  padding: 14px 30px;
  align-self: flex-start;
  border: 1px solid #ccc;
  background-color: #e1e1e1;
  width: 40vw;
  height: 100px;
  border: none;
  border-radius: 4px;
}

.addProduct label .select {
  margin-left: 110px;
}
